{% extends 'expert_header.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <title>Change Password</title>
        <link rel="stylesheet" href="{% static 'user/css/style.css' %}">


    </head>
   <body>
    <center>   
        <table class="form-class">
        <h2>Change Password</h2>
        <br><br>

        <form method="POST">
            {% csrf_token %}
           
            {{ form.as_p }}
        
       
        <tr>
            
            <td colspan="2">    
                <div style="text-align: center;">
                    <br><br>
                <button type="submit" class="btn btn-primary" style="width: 100px; margin: 0 auto;"> Save</button>
                
            </div>

            </td>
        </tr>   
    </form>
</table>   
 </center>
 
    </body>
</html>
{% endblock %}