{% extends 'expert_header.html' %}
{% block content %}

<div class="container mt-4">
    <center>
        <h2 class="text-center my-4" style="font-weight: bold; color:#80ffdb; text-shadow: 1px 1px 2px #000;">
           Start Chat 💬 with User <br>
           
        </h2>
      </center>
    <br><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.login_id.email }}</td>
                <td>{{ user.contact }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'chat_with_user' user.login_id.id %}">Chat Now</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}